name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install
      run: sudo apt-get install cppcheck
    - name: Static Analysis
      run: cppcheck --enableall 3_Implementation
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
